* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0; 
    
}

/* --- Navbar --- */
.nav--container {
    height: 55px;
    background-color:  #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav--logo {
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.nav--title {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}

/* --- Card ---- */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    padding: 0 40px;
    /* max-width: 471px; */
}

.card--container-inner {
    display: flex;
    align-items: center;   
    gap: 19px;
    color: #2B283A;
    /* margin: 18px 0px; */
}

.card--info {
    display: flex;
    flex-direction: column;   
}

.card--country-location {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.card--country-location img {
    margin-right: 4px;
}

.card--country-location h6 {
    margin: 0 12px 0 0;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.card--country-location p {
    font-weight: 400;
    font-size: 11px;
}

.goog {
    text-decoration: underline;
    color: #918E9B;
}

.card--title {
    margin: 0 0 16px 0;
    font-weight: 700px;
    font-size: 25px;
    
}

.card--start-end {
    font-weight: 700;
    font-size: 11px;
    margin: 0 0 9px 0;
}

.card--description {
    font-weight: 400px;
    font-size: 11px;
    line-height: 150%;
    margin: 0;
}

.card--photo {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

hr {
    color: green;
    margin: 18px 0;
}
